{% extends "master.html" %}
{% block title %}
  Welcome!
{% endblock %}
{% block stylebody %}class="login"{% endblock %}
{% block body %}
<form class="loginform" method = "POST">
  <br>
  <div>Login</div><br>
	Username:<input type = "text" name = "username" placeholder="Username"></input><br><br>
	Password:<input type = "password" name = "password" placeholder="Password"></input><br><br>
	<input type="submit" name="button" value="Login"></input>
	<input type="submit" name="button" value="Register"></input>
</form>
{% endblock %}
